.answer-options .correct {
  background-color: #9ec4c3;
}

.answer-options .incorrect {
  background-color: #ecaf9f;
}

.correct,
.incorrect {
  color: black;
}

button,
.correct,
.incorrect {
  padding: 1% 2%;
  margin: 1% 2%;
}

button {
  border: none;
  background-color: #fff4e5;
  cursor: pointer;
  border: none;
  padding: 1% 2%;
  margin: 1% 2%;
}

button:hover {
  border-bottom: 10px solid #8a154d;
}

.answer-options {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.answer-options button {
  background-color: #e5dfe2;
  margin: 3%;
}

.question {
  padding: 0 7%;
}
